<h3>Destinations</h3>

<%= link_to "Home", application_index_path %></br></br>

<% @destinations.each do |destination| %>
    City: <%= link_to "#{destination.name}", destination_path(destination.id) %> </br>
    Country: <%= destination.country %> </br></br>
<% end %>