<h1>Welcome to Travelatr</h1>

<div>
    <%= link_to "Bloggers", bloggers_path %>
</div>
<br>
<div>
    <%= link_to "Destinations", destinations_path %>
</div>
<br>
<div>
    <%= link_to "Posts", posts_path %>
</div>